__pycache__/
outputs/
.vscode/
reasoning_interpretability.egg-info/
job_outputs/
.DS_Store
k8s/
plot/
wandb/
patch_pos_sweep_results/
plot_utils/
pe_output/
sample_mappings/
patch_pos_sweep*/
patch_layer*
.venv-enrich-qwen/
